<div class="banniere-covid">
  <div class = "container">
    <div class="row">
      <div class="name"><h1><span data-text="Test">PREVENTION</span></h1></div>
      <span class="des">Les différents mesures de préventions à prendre par rapport au COVID-19</span>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="video-ytb">
    <iframe width="100%" height="700" src="https://www.youtube.com/embed/tRQVLt7d5t4"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class = "imgprevention1">
 <img src="assets/images/prevention1.jpg" class="img-fluid" style="width:100%;" alt="">
</div>
<div class = "imgprevention2">
  <img src="assets/images/prevention3.png" class="img-fluid" style="width:100%;" alt="">
</div>


