<!--ACCUEIL-->
<div class="banniere-covid">
  <div class = "container">
    <div class="row">
      <div class="name"><h1><span data-text="accueil">ACCUEIL</span></h1></div>
      <span class="des" >La maladie à coronavirus (COVID-19)</span>
    </div>
  </div>
</div>


<div id="carouselTP" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselTP" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselTP" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselTP" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselTP" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselTP" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a routerLink="/prevention"><img src="assets/images/infocovid.jpg" class="d-block w-100" alt="..."></a>
      <div class="carousel-caption">
        <h5>Vers la Page Prévention</h5>
      </div>
    </div>
    <div class="carousel-item">
      <a routerLink="/vaccin"><img src="assets/images/covid-vaccine-tracker.jpg" class="d-block w-100" alt="..."></a>
      <div class="carousel-caption">
        <h5>Vers la Page Vaccin</h5>
      </div>
    </div>
    <div class="carousel-item">
      <a routerLink="/test"><img src="assets/images/TestCovid.jpg" class="d-block w-100" alt="..."></a>
      <div class="carousel-caption">
        <h5>Vers la page Test</h5>
      </div>
    </div>
    <div class="carousel-item">
      <a routerLink="/maladie"><img src="assets/images/prevention.jpg" class="d-block w-100" alt="..."></a>
      <div class="carousel-caption">
        <h5>Vers la page Maladie</h5>
      </div>
    </div>
    <div class="carousel-item">
      <a href="https://www.who.int/fr"><img src="assets/images/oms.jpeg" class="d-block w-100" alt="..."></a>
      <div class="carousel-caption">
        <h5>Vers le Site Web de l'OMS</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselTP" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselTP" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>





